<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="text-center py-10">
      <h2 class="text-4xl font-semibold text-blue-700">
        Welcome to the Voting Application
      </h2>
      <p class="mt-4 text-gray-700">
        Your voice matters. Cast your vote and make a difference!
      </p>
      <div class="mt-6">
        <a href="/api/user/login" class="bg-blue-600 text-white px-4 py-2 rounded"
          >Login</a
        >
        <a href="/api/user/signup" class="bg-green-600 text-white px-4 py-2 rounded ml-2"
          >Sign Up</a
        >
      </div>
    </section>
  </body>
</html>
